* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}





body {
  background: #0d0d0d;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}



#results {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
  max-width: 1200px;
  justify-content: center;
  padding: 0 10px;
}

.hero-text {
 
  text-align: center;
  color: white;
  margin: 0 auto;
  
  padding: 100px 100px 60px 100px;
  max-width: 800px;
}

.search-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0;
  box-sizing: border-box;
}



.movie-card {
  background: rgba(0, 0, 0, 0.35);
  padding: 14px;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s ease;
   backdrop-filter: blur(20px) brightness(1.2);
  -webkit-backdrop-filter: blur(20px) brightness(1.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  
  

}

.movie-card:hover {
  transform: scale(1.03);
  border: #ffffff solid 2px;
  background: #0d0d0d;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.year-runtime {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.year-runtime p {
  margin: 0;
}

strong {
  color: #a2a2a2;
}


#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

h3 {
  margin: 8px 0 5px 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.search-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.search-wrapper {
  position: relative;
  flex: 1; /* input zauzima sav prostor */
}

#searchInput {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background: #ffffff;
  color: rgb(33, 33, 33);
  box-sizing: border-box;
}

#searchInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255,255,255,0.2);
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 4px;
  max-height: 250px;
  overflow-y: auto;
  display: none;
  z-index: 9999;
  box-sizing: border-box;
}

.autocomplete-item {
  padding: 12px 16px;
  cursor: pointer;
  color: #eee;
  border-bottom: 1px solid #222;
}

.autocomplete-item:hover {
  background: #222;
}

#searchBtn {
  padding: 12px 24px;
  font-size: 16px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

#searchBtn:hover {
  background: rgba(0, 0, 0, 0.6);
}



#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.282));
  z-index: -1;
  pointer-events: none;
}

.movie-container {
  max-width: 100%; 
  overflow-x: hidden;
  display: flex;
  gap: 50px;
  padding: 20px;
}
.movie-container img {
  max-width: 100%;
}
.info {
  max-width: 600px;
}

@media (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .movie-container img {
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  h1 {
    font-size: 12px;
  }

  .info {
    width: 100%;
    
    margin-top: 20px;
  }

  .info h1 {
    font-size: 32px;
    color: rgb(255, 255, 255);
  }

 .movie-card {
  padding: 32px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px) brightness(1.2);
  -webkit-backdrop-filter: blur(20px) brightness(1.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  margin: 0 10px;
}




.search-container {
  width: 100%;
  padding: 0 20px; /* levo i desno po 20px */
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.autocomplete-list {
  position: absolute;
  width: 100%;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 250px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.autocomplete-item:hover {
  background: #333;
}


#searchBtn {
 
  margin-left: 12px;
}



#results {

  padding: 0px;

}


}

.trailer-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.trailer-btn:hover {
  background: #b20710;
}


.hero-text {
 
  text-align: center;
  color: white;
  margin: 0 auto;
  
  padding: 0px 30px 30px 30px;
  max-width: 800px;
}

.hero-text h4 {
  font-size: 12px;
  font-weight: 400;
}

.hero-text h1 {
  font-size: 28px;
  margin-bottom: 20px;
}



